@import 'normalize.css';
@import 'skeleton.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body{
    font-family: 'work-family',sans-serif;
    background: #fff;
    width:100vw;
    overflow-x: hidden;
}

.c-red{
    color: #E53A40;
}
.header{
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
    background:  url(../assets/img/bg.jpg) no-repeat center center; 
  background-size: cover;
}
.menu-button{
    margin-top: 2px;
}
.logo{
    padding: 15px 0px;
    padding-bottom: 10px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}
h2.head-title{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
h2.head-title::after{
    content: "";
    width: 130px;
    display: block;
    border-bottom: 2px solid #E53A40;
    position: relative;
    left: 50%;
    margin-left: -65px;
}
.about{
    background: #fff;
}
.b-gray{
    background: #E0E3DA;
    padding: 20px 0px 30px 0px; 
}
.project{
    width: 100%;
    min-height: 300px;
    height: auto;
    text-align: center;
    margin: 10px 0px;
    padding-bottom: 10px;
    background: #fff;
    box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.5); 
    transition: all 300ms ease-in-out;
}
.project:hover{
    transform: scale(1.05);
    box-shadow: 0px 13px 9px -8px rgba(0,0,0,0.3);
}
.project img{
    width: 100%;
    filter: grayscale(1);
    transition: all 300ms ease-in-out;
}
.project:hover img{
    filter: grayscale(0);
}
p.thoda-about-project{
    padding: 10px;
}
.join-us{
    background: #E53A40;
    color: #fff;
    padding: 60px 0px;   
    text-align: center;
}
.join-us a.button{
    color: #fff;
}
.contact-us form{
    padding: 10px;
}
.contact-us form input,.contact-us form textarea{
    display: block;
    width: 100%;
}
.menu{
    height: 100%;
    position: fixed;
    background: #E0E3DA;
    z-index: 99999999999;
    overflow: hidden;
    top: -110%;
    box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);
    transition: all 300ms ease-in-out;
}
.menu .container{
    padding: 0px 20vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.bar{
    width: 100%;
    position: relative;
    bottom: -25vh;
    background: #ececec;
    height: 2px;
    border-radius: 5px;
}
.close:hover + .bar{
    background: #E53A40;
}
@keyframes menu-button{
    0%,80%,100%{
        background: #fff;
    }
    81%, 99%{
        background: #E53A40;
    }
}
.menu-button-bottom{
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    background: #fff;
    animation: menu-button 300ms ease-in-out forwards 2;
    z-index: 999999999999999;
    opacity: 0.8;
}
.hero-member{
    background-image: url(../assets/img/mbg.jpg);
}
.button{
    cursor: pointer;
}
